TP_PROJECT_FreeLancePlatform_Api/.vs/TP_PROJECT_FreeLancePlatform_Api/v16/Server/sqlite3/db.lock
TP_PROJECT_FreeLancePlatform_Api/.vs/TP_PROJECT_FreeLancePlatform_Api/v16/Server/sqlite3/storage.ide
TP_PROJECT_FreeLancePlatform_Api/.vs/TP_PROJECT_FreeLancePlatform_Api/v16/Server/sqlite3/storage.ide-shm
TP_PROJECT_FreeLancePlatform_Api/.vs/TP_PROJECT_FreeLancePlatform_Api/v16/Server/sqlite3/storage.ide-wal
